<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Форма входа</title>
    <img th:src="@{/images/football-league.jpg}"
         title = "jv" width="200" height="200"/>&nbsp;
</head>
<body>
<span th:if="${param.failed}">Ошибка авторизации</span>

<form method="POST" th:action="@{/login}">
    <input type="text" placeholder="Введите логин" name="application_user_username">
    <input type="password" placeholder="Введите пароль" name="application_user_password">
    <input type="submit" value="Войти">
</form>
</br>
<li><a href="home.html" th:href="@{/}">Homepage</a></li>
</body>
<footer>
    <div th:insert="~{footer :: copy}"></div>
</footer>
</html>