<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit existing player</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
    <img th:src="@{/images/football-league.jpg}"
         title = "jv" width="200" height="200"/>&nbsp;
</head>
<body>
<form method="POST" th:action="@{/player/{id}(id=${editPlayer.getId()})}" th:object="${editPlayer}">
    <h3>Enter player name:</h3>
    <label for="name">Name: </label>
    <input type="text" th:field="*{name}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}"> Player name Error</span>
    <br/>
    <label for="surname">Enter player surname: </label>
    <input type="text" th:field="*{surname}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('surname')}"
          th:errors="*{surname}"> Player surname Error</span>
    <br/>
    <label for="position">Enter player position: </label>
    <h5>Available options GOALKEEPER, DEFENDER, MIDFIELDER, FORWARD</h5>
    <input type="text" th:field="*{position}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('position')}"
          th:errors="*{position}"> Player position Error</span>
    <br/>
    <input type="submit" value="Submit"/>
</form>
</body>
<footer>
    <div th:insert="~{footer :: copy}"></div>
</footer>
</html>