<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update team information</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
    <img th:src="@{/images/football-league.jpg}"
         title = "jv" width="200" height="200"/>&nbsp;
</head>
<body>
<form method="POST" th:action="@{/team/{id}(id=${editTeam.getId()})}" th:object="${editTeam}">
    <!--id=${team.getId()})-->
    <h3>Enter team data:</h3>
    <label for="name">Team name: </label>
    <input type="text" th:field="*{name}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}"> Team name Error</span>
    <br/>
    <label for="city">City: </label>
    <input type="text" th:field="*{city}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('city')}"
          th:errors="*{city}"> City name Error</span>
    <br/>
    <label for="stadium">Stadium: </label>
    <input type="text" th:field="*{stadium}"/>
    <span class="validationError"
          th:if="${#fields.hasErrors('stadium')}"
          th:errors="*{stadium}"> Stadium name Error</span>
    <br/>
    <input type="submit" value="Update"/>

</body>
<footer>
    <div th:insert="~{footer :: copy}"></div>
</footer>
</html>