<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Football league</title>
</head>
<body>
<img th:src="@{/images/football-league.jpg}"/>
<p>Dear User, welcome to the international football league website!</p>
<p>Please select an option</p>
<ol>
    <li><a href="matches.html" th:href="@{/matches}">Matches</a></li>
    <li><a href="news.html" th:href="@{/order/list}">News</a></li>
    <li><a href="teams.html" th:href="@{/teams}">Teams</a></li>
    <li><a href="standings.html" th:href="@{/standings}">Standings</a></li>
</ol>
<div th:insert="~{footer :: copy}"></div>
</body>
</html>