<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Matches</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    <img th:src="@{/images/football-league.jpg}"
         title="jv" width="200" height="200"/>&nbsp;
</head>
<body>
<h1>Matches</h1>
<ul>
    </br>
    <tr th:each="match : ${matches}">
        <h3 th:text="${match.getTeams().get(0)} + ' - ' + ${match.getTeams().get(1)}"></h3>
        <h4 th:text="${match.result}"></h4>
        <h4 th:text="${match.matchDate}"></h4>
        <a th:href="@{/match/{id}(id=${match.id})}">Подробнее</a>
    </tr>
    <br>
</ul>
<p>Please select an option:</p>
<ol>
    <li><a href="result.html" th:href="@{/result}">Add match</a></li>
    <li><a href="home.html" th:href="@{/}">Homepage</a></li>
</ol>
</body>
<footer>
    <div th:insert="~{footer :: copy}"></div>
</footer>
</html>