<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Match info</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    <img th:src="@{/images/football-league.jpg}"
         title="jv" width="200" height="200"/>&nbsp;
</head>
<body>
<h1>Match info</h1>
<!--<h3 th:text="${match_info.teams[0].name} + ' - ' + ${match_info.teams[1].name}"></h3>-->
<h3>Result of the match</h3>
<h2 th:text="${match_info.result}"></h2>
<br>
<h3>Date of the match</h3>
<h3 th:text="${match_info.matchDate}"></h3>
<br>
<!--<li><a href="editresult.html" th:href="@{{id}/editresult}">Edit match data</a></li>-->
<a th:href="@{/match/{id}/editresult(id=${match_info.id})}">Edit match data</a>
</body>
<br>
<ol>
    <li><a href="home.html" th:href="@{/}">Homepage</a></li>
    <li><a href="matches.html" th:href="@{/matches}">Matches</a></li>
</ol>
<footer>
    <div th:insert="~{footer :: copy}"></div>
</footer>
</html>