<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>News</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
    <img th:src="@{/images/football-news.jpg}"
         title = "jv" width="200" height="200"/>&nbsp;
</head>
<body>
<h1>News</h1>
<ul>
    <li th:each="news : ${news}">
        <h3 th:text="${news.text}"></h3>
        <a th:href="@{/singlenews/{id}(id=${news.id})}">Подробнее</a>
    </li>
    <br>
</ul>
<p>Please select an option:</p>
<ol>
    <li><a href="addnews.html" th:href="@{/addnews}">Add news</a></li>
    <li><a href="home.html" th:href="@{/}">Homepage</a></li>
</ol>
</body>
<footer>
    <div th:insert="~{footer :: copy}"></div>
</footer>
</html>