<form action="#" th:action="@{/result}" th:object="${match}"
      method="post">
    <fieldset>
        <input type="submit" id="submitButton" th:value="Save">
        <input type="reset" id="resetButton" name="reset" th:value="Reset"/>
        <table>
            <thead>
            <tr>
                <th> Team</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="team, itemStat : *{teams}">
                <td><input th:field="*{teams[__${itemStat.index}__].name}" /></td>
            </tr>
            </tbody>
        </table>
    </fieldset>
</form>