<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Teams</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    <img th:src="@{/images/football-league.jpg}"
         title="jv" width="200" height="200"/>&nbsp;
</head>
<body>
<h1>Teams</h1>
<ol>
    <!--<li th:each="team : ${teams}">
        <span th:text="${team.name}">Team Name</span>
    </li>-->
    <ol th:each="team : ${teams}">
        <h3 th:text="${team.name}"></h3>
        <a th:href="@{/team/{id}(id=${team.id})}">Details</a>
    </ol>
    <br>
    <li><a href="regteam.html" th:href="@{/regteam}">Register team</a></li>
    <li><a href="home.html" th:href="@{/}">Homepage</a></li>
</ol>

</body>
<footer>
    <div th:insert="~{footer :: copy}"></div>
</footer>
</html>