<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>"${team_info.name}"</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    <img th:src="@{/images/football-league.jpg}"
         title="jv" width="200" height="200"/>&nbsp;
</head>
<body>
<h1>Team info</h1>

<h2 th:text="${team_info.name}"></h2>
<h3>Players of this team</h3>
<li><a href="players.html" th:href="@{/players}">Players</a></li>
<br>

</body>
<footer>
    <div th:insert="~{footer :: copy}"></div>
</footer>
</html>