<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>"${team_info.name}"</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    <img th:src="@{/images/football-league.jpg}"
         title="jv" width="200" height="200"/>&nbsp;
</head>
<body>
<h1>Team info</h1>

<h2 th:text="${team_info.name}"></h2>
<h3>Players of this team</h3>
<li><a href="players.html" th:href="@{/players}">Players</a></li>
<br>
<h3>Make the deposit</h3>
<li><a href="payment-form.html" th:href="@{/payment-form}">Payment details</a></li>
<br>
<h3>Deposit approved</h3>
<h3 th:text="${team_info.depositApproved}"></h3>
<br>
<li><a href="editteam.html" th:href="@{{id}/editteam}">Edit team</a></li>
</body>
<br>
<ol>
    <li><a href="home.html" th:href="@{/}">Homepage</a></li>
    <li><a href="teams.html" th:href="@{/teams}">Teams</a></li>
</ol>
<footer>
    <div th:insert="~{footer :: copy}"></div>
</footer>
</html>